.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 900;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: blueviolet;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconsContainer {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  color: #555;
}
.topIconBadge {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -6px;
  background-color: purple;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
